### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr

### NetBeans ###
*nbproject/private/
*build/
*nbbuild/
*dist/
*nbdist/
*.nb-gradle/

*target/
###Test Database directory
*testdb/

##Ensure app.properties file is no longer pushed
*app.properties

#Localize access to ATP database EMS2
*Wallet_*
